*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font: 16px/1.5 'Cera Pro', sans-serif;
  color: $white;
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  max-width: 100%;
  display: block;
}

span {
  display: block;
}

a, a:hover {
  text-decoration: none;
}

*:focus {
  outline: none !important;
}

.flex {
  display: flex;
  &-center {
    @extend .flex;
    align-items: center;
  }
  &-between {
    @extend .flex;
    justify-content: space-between;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.slide-down-enter-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-down-leave-active {
  transition: all 1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-down-enter, .slide-down-leave-to {
  transform: translateY(-100%);
}
.slide-up-enter-active {
  transition: all .6s ease;
}
.slide-up-leave-active {
  transition: all .6s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-up-enter, .slide-up-leave-to {
  transform: translateY(100%);
}

.htb-step-box--text {
  span, a {
    color: $white !important;
  }
}

.htb-step-box--bottom span {
  color: $white;
}
